# Node
node_modules/
# .gitignore
.env
app.yaml

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
ENV/
venv/
build/
dist/
*.egg-info/

app.yaml
# Logs
logs/
*.log

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
